
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}
/* Header */
#header a
{
    color: #ffffff;
}

#Logo
{
    padding-left: 10px;
    padding-right: 10px;
    border-left: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
    border-top: 3px solid #eeeeee;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#cabecalho a
{
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    margin-bottom: 20px;
    float: right;
}
#header a:hover
{
    background-color: #07614c;
}

#menu
{
    background-color: #07614c;
}

#menu a:hover
{
    color: #07614c;
    background-color: #eeeeee;
}

/*Main - Início*/

.foto img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.foto{margin: 0px;}

.perfil{
    border-bottom: 3px solid #eeeeee;
}

.login button{
    text-align: left;
    margin: 2px;
}
.login button span{
    padding: 3px;
}
.login button{
    min-width: 200px;
}

.dados p{
    border:0;
    padding: 0px;
    margin: 0;
}

.perfil2 img{
    width: 6%;
    padding-right: 2mm;
}


.agenda{
    border-top: 3px solid #eeeeee;
    border-left: 3px solid #eeeeee;
    border-bottom: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
}
/*Main - Media Query*/

@media screen and (max-width:500px){
    .perfil img{
        margin-left: 24%;
        width: 50%;
        align-items: center;
    }
    .login{
        margin-left: 17%;
    }
    .icones{
        margin-bottom: 5%;
    }
    .login button{
        display: block;
        margin-bottom: 1%;
    }
}

@media screen and (min-width:501px) and (max-width:767px){
    .perfil img{
        margin-left: 24%;
        width: 50%;
        align-items: center;
    }
    .login{
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
    .icones{
        margin-bottom: 5%;
    }
}

@media screen and (min-width:768px){
    .login{
        display: inline;
        margin-left: 25%;
    } 
}

/*Main - Fim*/

/* Footer */
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer, #header {
    background: #007b5e;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }
}
@media (min-width: 1200px){
.container {
    max-width: 1420px;
}
}